<html ng-app="app">
<head>
	<title>Dataviz</title>
	<!-- bower:css -->
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
	<link rel="stylesheet" href="../bower_components/roboto-fontface/roboto-fontface.css" />
	<!-- endbower -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100italic,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- fileblock:css style -->
    <link href="app/style/main.css" rel="stylesheet" />
    <!-- endfileblock -->
</head>
<body ng-controller="IndexCtrl as index">


    <md-toolbar layout="row">
        <h1 class="md-toolbar-tools" layout-align-gt-sm="left" flex ng-click="index.change()">Datapizz</h1>
		<md-checkbox ng-model="index.debug" aria-label="Checkbox 2" ng-true-value="true" ng-false-value="false" class="md-warn">
			Debug mode
		</md-checkbox>
    </md-toolbar>
    <div>
	    <div ui-view></div>
    </div>

	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/d3/d3.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/underscore/underscore.js"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.js"></script>
	<script src="../bower_components/angular-aria/angular-aria.js"></script>
	<script src="../bower_components/angular-material/angular-material.js"></script>
	<script src="../bower_components/lodash/lodash.js"></script>
	<script src="../bower_components/firebase/firebase.js"></script>
	<script src="../bower_components/angularfire/dist/angularfire.js"></script>
	<!-- endbower -->

	<!-- fileblock:js app -->
	<script src="app/scripts/app.js"></script>
	<script src="app/scripts/controllers/MainCtrl.js"></script>
	<script src="app/scripts/directives/DisplayAllDir.js"></script>
	<script src="app/scripts/services/articlesSrv.js"></script>
	<script src="app/scripts/services/linksSrv.js"></script>
	<script src="app/scripts/controllers/DetailsCtrl.js"></script>
	<script src="app/scripts/services/dbconnection.js"></script>
	<!-- endfileblock -->
</body>
</html>