/* ---------- ------- ---------- *\
              element
\* ---------- ------- ---------- */

body {
<<<<<<< HEAD
=======
    background-color: white;
>>>>>>> 077412c11288d2bbe91d0e6fb3a2ee310be18b19
    font-size: 20px;
}


/* ------------ --- ------------ *\
                Ids
\* ------------ --- ------------ */


/* ----------- ----- ----------- *\
               class
\* ----------- ----- ----------- */
.circle {
    stroke: #fff;
    stroke-width: 1.5px;

}

.box-content {
    background-color: white;
    margin: 10px 10px;
    padding: 5px;

    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;
}

.red {
    color: red;
}

.tag-area {
    padding: 9px;
    font-size: 18px;
    margin: 8px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #ecf0f1;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}

.nodeSelected {
    background-color : blue;
}
.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px; }

.form-add-tag {
    background-color:#ECEFF1 !important
}
