/* ---------- ------- ---------- *\
              element
\* ---------- ------- ---------- */

body {
    background-color: #FBF8EF;
    padding: 5px;
    font-size: 20px;
}


/* ------------ --- ------------ *\
                Ids
\* ------------ --- ------------ */


/* ----------- ----- ----------- *\
               class
\* ----------- ----- ----------- */
.circle {
    stroke: #fff;
    stroke-width: 1.5px;

}

.box-content {
    background-color: white;
    margin: 10px 10px;
    padding: 5px;

    border-radius: 5px;
    box-shadow: 2px 2px 5px #aaa;
}

.red {
    color: red;
}

.tag-area {
    padding: 9px;
    font-size: 18px;
    margin: 8px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #ecf0f1;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}

.nodeSelected {
    background-color : blue;
}